#lyrics {
  font-size: 28px;
  line-height: 1.4;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10px;
}

#lyrics .current {
  font-weight: 700;
}
