#lyrics {
  font-family: "Yu Gothic", sans-serif;
  font-size: 48px;
  line-height: 1.4;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10px;
  color: rgb(245, 245, 245); /* 設定歌詞文字顏色為黑色 */
}

#lyrics .current {
  font-weight: 700;
}
